/*
    font-family: 'Fredericka the Great', cursive;   TITRE
    font-family: 'Montserrat', sans-serif;          NORMAL

    COULEURS :
    #F5EFF4 : BLANC;
    245, 239, 244
    #304B42 : VERT;
    48, 75, 66
    #545452 : BRUN;
    84, 84, 82
*/

* {
    margin: 0 auto;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* PAGE*/

.page {
    width: 100%;
    height: 80vh;
    background-blend-mode: screen;
    background-image: url(../img/fondaccueil.jpg);
    background-color: #545452;
    background-position: center top;
    background-size: cover;
}

/* BARRE DE NAVIGATION */

.nav {
    width: 100%;
    height: 75px;
    position: fixed;
    line-height: 75px;
    text-align: center;
    background-blend-mode: overlay;
    background-image: url(../img/fondaccueil.jpg);
    background-color: #F5EFF4;
    top: 0;
    z-index: 2;
}

.nav div.logo {
    float: left;
    padding-left: 1rem;
    font-family: 'Fredericka the Great', cursive;
}

.nav div.logo a {
    text-decoration: none;
    color: #545452;
    font-size: 3rem;
    letter-spacing: 1px;
    transition: all 1s;
}

.nav div.logo a:hover {
    letter-spacing: 7px;
    transition: all 1s;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding-right: 1.2rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #545452;
    line-height: 100px;
    font-size: 1em;
    transition: all 1s;
}

.nav div.main_list ul li a:hover {
    letter-spacing: 7px;
    transition: all 1s;
}

/* NAV CACHÉ */

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/*ANIMATIONS*/

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 1rem;
    top: 5px;
    bottom: 0;
}

.navTrigger i {
    background-color: rgba(84,84,84,0.8);
    border-radius: 5px;
    content: '';
    display: block;
    width: 100%;
    height: 3px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}


/* FOOTER */

footer {
    width: 100%;
    height: 75px;
    position: fixed;
    line-height: 75px;
    text-align: center;
    background-blend-mode: overlay;
    background-image: url(../img/fondaccueil.jpg);
    background-color: #F5EFF4;
    bottom: 0;
    z-index: 2;
}

.socialmedia {
    float: left;
    color: #42433E;
}

.socialmedia img {
    padding-top: 20px ;
    padding-left: 15px;
    max-height: 40px;
    transition: 1s;
}

.socialmedia a img:hover {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 1s;
}

.credit {
    float: right;
    color: #42433E;
    padding-top: 10px;
    padding-right: 20px;
    opacity: 0.6;
}

.credit a {
    text-decoration: none;
    color: #42433E;
    opacity: 1;
    transition: 1s;
}

.credit a:hover {
    letter-spacing: 5px;
    transition: 1s;
}

/* CONTENU DE LA PAGE D'ACCUEIL */

section {
    width: 60%;
}

section .contenu {
    vertical-align: middle;
    padding: 170px 0 100px 0;
}

section .contenu h1 {
    text-align: center;
    margin: 20px auto 0 auto;
    font-family: 'Fredericka the Great', cursive;
    font-size: 4.8em;
    font-weight: normal;
    color: #545452;
    transition: 1s;
}

section .contenu h2 {
    text-align: center;
    margin: -25px auto 20px auto;
    letter-spacing: 12px;
    font-weight: normal;
    color: #F5EFF4;
    background-color: rgba(84, 84, 82, 0.4);
    transition: 1s;
}

section .contenu p {
    background-color: rgba(200,200,200,0.6);
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: 1s;
    color: #545452;
}
section .contenu p .big {
    letter-spacing: 5px;
    font-size: 1.2em;
}

/* PARAGRAPHE SPÉCIAL ACCUEIL */

section .contenu .pacc {
    text-align: center;
    letter-spacing: 5px;
    padding: 10px 20px;
    transition: 1s;
}

section .contenu .pacc a {
    letter-spacing: 3px;
    text-decoration: none;
    color: #F5EFF4;
    background-color: rgba(84, 84, 82,0.4);
    padding: 2px 4px;
    transition: 1s;
}

section .contenu .pacc a:hover {
    letter-spacing: 5px;
    padding: 2px 6px;
    transition: 1s;
}

/* PAGE CONTACT */

section .contenu form {
    background-color: rgba(200,200,200,0.6);
    padding: 30px 70px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: 1s;
    color: #545452;
}


section .contenu form div {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

section .contenu form div input {
    margin: 5px;
    padding: 8px;
    text-align: center;
    width: 50%;
    background-color: #F5EFF4;
    color: #545452;
    letter-spacing: 3px;
    border: none;
}

section .contenu form input {
    color: #545452;
}

form div textarea {
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 80px;
    background-color: #F5EFF4;
    color: #545452;
    letter-spacing: 3px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

section .contenu form div input::placeholder {
    letter-spacing: 2px;
    opacity: 0.4;
}

section .contenu form div textarea::placeholder {
    letter-spacing: 2px;
    opacity: 0.4;
}

section .contenu form .btnenvoyer {
    text-align: center;
    display: block;
    margin: 30px auto;
    padding: 15px;
    background-color: rgba(245, 239, 244,0.8);
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
}

section .contenu form .btnenvoyer:hover {
    background-color: rgb(245, 239, 244);
    letter-spacing: 15px;
    transition: 1s;
}

/* PAGE LIENS */

section .contenu .containerliens {
    background-color: rgba(200,200,200,0.6);
    padding: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.9em;
    transition: 1s;
    color: #545452;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:flex-start;
    align-content:center;
    display:flex;
}

section .contenu .containerliens .itemliens {
    flex-grow:0;
    margin: 10px;
    border: 1px solid #F5EFF4;
    padding: 10px;
    max-width: 260px;
    min-height: 120px;
    transition: 1s;
}

section .contenu .containerliens .itemliens:hover {
    transition: 2s;
    background-color: rgba(245, 239, 244,0.4);
}

section .contenu .containerliens .itemliens h3 {
    margin-bottom: 15px;
}

section .contenu .containerliens .itemliens h3 a {
    text-decoration: none;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: #545452;
    padding: 5px 25px;
}

section .contenu .containerliens .itemliens p {
    background: none;
    padding: 5px;
}

section .contenu .containerliens .itemliens button {
    text-align: center;
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    background-color: rgba(245, 239, 244,0.5);
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
    font-size: 1.4em;
    color:#545452;
}

section .contenu .containerliens .itemliens button:hover {
    background-color: rgba(245, 239, 244,0.9);
    padding: 5px 20px;
    transition: 1s;
}

section .contenu .containerliens .itemliens a {
    text-decoration: none;
    color: inherit;
}

/* PAGE TUTO PRINCIPAL*/

section .contenu .tuto {
    background-color: rgba(200,200,200,0.6);
    padding: 40px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 0.8em;
    transition: 1s;
    color: #545452;
}

section .contenu .tuto h3 {
    letter-spacing: 3px;
    font-size: 2em;
    transition: 1s;
    font-weight: lighter;
    background-color: rgba(245, 239, 244, 0.6);
    margin-bottom: 15px;
}

section .contenu .tuto p {
    font-size: 1.3em;
    background: none;
    padding: 5px;
}

section .contenu .tuto p a {
    color: #F5EFF4;
    background-color: rgba(84, 84, 82, 0.4);
    padding: 2px 5px;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 1s;
}

section .contenu .tuto p a:hover {
    transition: 1s;
    letter-spacing: 2px;
}

section .contenu .tuto button {
    margin-bottom: 55px;
}

/* PAGE TUTO MAISON SLIDE ETC */

/* SLIDESHOW */
.slideshow-container {
    background-color: rgba(200,200,200,0.6);
    position: relative;
    margin: auto;
}

/* SLIDES CACHÉS */
.mySlides {
    display: none;
    min-height: 850px;
}

/* BOUTONS NAVIGATION */
.prev, .next {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    margin-top: -22px;
    padding: 16px 40px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(84, 84, 82,0.3);
    width: auto;
}

.next {
    right: 0;
    text-align: right;
}

.prev:hover, .next:hover {
    background-color: rgba(84, 84, 82,0.8);
}

/* TITRE SLIDE */
.text {
    color: rgba(84, 84, 82, 0.7);
    font-size: 1.8em;
    font-weight: bolder;
    padding: 10px;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

/* COMPTAGE DES PAGES */
.numbertext {
    color: #f2f2f2;
    font-size: 1.3em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    float: left;
}

/* INDICATEURS (POINTS) */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.actif, .dot:hover {
    background-color: #717171;
}

/* FONDU (PAS SAVOYARDE MALHEUREUSEMENT) */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* PARAGRAPHE DANS LES SLIDES */

.mySlides .slideContent {
    padding: 120px 0 0 0;
    background: none;
    width: 80%;
    text-align: justify;
}

.mySlides .slideContentsec {
    padding: 0;
    background: none;
    width: 80%;
    text-align: justify;
}

/*  FAUX PRE*/

.mySlides .slideContent .pre {
    background-color: rgba(84, 84, 82,0.9);
    color: #F5EFF4;
    padding: 10px;
    font-family: monospace;
}

.mySlides .slideContentsec .pre .gris {
    color: rgba(245, 239, 244,0.6);
}

.mySlides .slideContentsec .pre {
    background-color: rgba(84, 84, 82,0.9);
    color: #F5EFF4;
    padding: 10px;
    font-family: monospace;
}

.mySlides .slideContent .pre .gris {
    color: rgba(245, 239, 244,0.6);
}

.mySlides .slideContent .pre .nope {
    opacity: 0;
}

.mySlides .slideContentsec .pre .nope {
    opacity: 0;
}

/* TABLE DANS LES SLIDES */

.mySlides .tableInSlide {
    background-color: rgba(84, 84, 82,0.4);
    color: #F5EFF4;
    font-weight: normal;
    margin-top: 10px;
    width: auto;
    margin-left: 10%;
}

.mySlides .tableInSlide tr th {
    text-align: center;
    padding: 2px 15px;
}

.mySlides .tableInSlide tr td {
    text-align: center;
    padding: 2px 15px;
    font-size: 0.8em;
    letter-spacing: 2px;
}

/* LIENS */

.mySlides .slideContent a {
    text-decoration: none;
    color: #545452;
    font-size: 1.3em;
    padding: 0 10px;
    letter-spacing: 1px;
    transition: all 1s;
}

.mySlides .slideContent a:hover {
    padding: 0;
    letter-spacing: 2px;
    transition: all 1s;
}

.mySlides .slideContentsec a {
    text-decoration: none;
    color: #545452;
    font-size: 1.3em;
    padding: 0 10px;
    letter-spacing: 1px;
    transition: all 1s;
}

.mySlides .slideContentsec a:hover {
    padding: 0;
    letter-spacing: 2px;
    transition: all 1s;
}

/* IFRAME */

iframe {
    text-align: center;
    margin-top: 35px;
    width: 100%;
    min-height: 400px;
}

/* GALERIE */

img {
    vertical-align: middle;
}

.galerie {
    position: relative;
}

.galerie .img-slide {
    display: none;
    margin-bottom: 20px;
}

.galerie .curseur {
    cursor: pointer;
}

.img-prec,
.img-suiv {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    margin-top: 0;
    color: rgba(245, 239, 244,0.8);
    font-weight: bold;
    font-size: 3.8em;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.img-suiv {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.img-prec:hover,
.img-suiv:hover {
    color: #F5EFF4;
}

.galerie .img-caption {
    text-align: center;
    height: auto;
    background-color: rgba(84, 84, 82, 0.8);
    padding: 12px 40px;
    margin-bottom: 20px;
}

#caption {
    background: none;
    letter-spacing: 10px;
    color: #F5EFF4;
    font-size: 1.5em;
}

.galerie .row:after {
    content: "";
    display: table;
    clear: both;
}

.galerie .column {
    float: left;
    width: 16.66%;
}

.galerie .demo {
    opacity: 0.6;
}

.img-active,
.demo:hover {
    opacity: 1;
}


























/* MEDIA QUERY POUR LE HEADER ET LE FOOTER */

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:800px) {
    .nav div.logo a {
        font-size: 2.5em;
    }
    .credit {
        display: none;
    }
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 1px;
    }
    .nav div.logo a:hover {
        letter-spacing: 4px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
        margin-top: 15px;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 270px;
        right: 0;
        left: 0;
        bottom: 0;
        background-blend-mode: overlay;
        background-image: url(../img/fondaccueil.jpg);
        background-color: #F5EFF4;
        border-top: white 15px solid;
        border-bottom: white 15px solid;
        background-position: center;

    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
        height: 30px;
        background: none;
        margin:2px;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        padding: 0 15px;
        background: none;
    }
    .nav div.media_button {
        display: block;
    }
}

/* MEDIA QUERY PAGE ACCUEIL */

@media screen and (max-width:800px) {
    section .contenu h2 {
        margin: -10px auto 20px auto;
        transition: 1s;
        font-size: 0.8em;
    }
    section .contenu h1 {
        margin: 20px auto 0 auto;
        font-size: 2.4em;
        transition: 1s;
    }
    section .contenu p {
        padding: 20px;
        font-size: 0.7em;
        transition: 1s;
    }
    section .contenu button:hover {
        background-color: rgb(245, 239, 244);
        letter-spacing: 2px;
        transition: 1s;
    }
}

/* MEDIA QUERY PAGE CONTACT */


@media screen and (max-width:800px) {
    section .contenu form {
        padding: 20px;
        font-size: 0.7em;
        transition: 1s;
    }
    section .contenu form div input {
        margin: 8px;
        width: 100%;
        font-size: 0.8em;
    }
    section .contenu form div textarea {
        margin: 8px;
        width: 100%;
        font-size: 0.8em;
    }
    section .contenu form .btnenvoyer {
        background-color: rgb(245, 239, 244);
        font-size: 0.9em;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .contenu form .btnenvoyer:hover {
        letter-spacing: 6px;
        transition: 1s;
    }
}

/* MEDIA QUERY PAGE LIENS */

@media screen and (max-width:800px) {
    section  {
        width: 80%;
    }
    section .contenu .containerliens {
        padding: 20px;
        font-size: 0.6em;
        transition: 1s;
    }
    section .contenu .containerliens .itemliens {
        max-height: 120px;
        transition: 1s;
    }
    section .contenu button a {
        background-color: rgb(245, 239, 244);
        font-size: 0.8em;
        letter-spacing: 1px;
        transition: 1s;
    }
    section .contenu button a:hover {
        letter-spacing: 2px;
        transition: 1s;
    }
    section .contenu .containerliens .itemliens .texteliens {
        font-size: 1em;
    }
}

/* MEDIA QUERY PAGE GELERIE */

@media screen and (max-width: 800px) {
    .img-prec,
    .img-suiv {
        font-size: 2.7em;
    }
    #caption {
        letter-spacing: 5px;
        font-size: 0.8em;
    }
}



















/* BOUTON MULTITÂCHE */

section .contenu button {
    text-align: center;
    display: block;
    margin: 30px auto;
    padding: 15px;
    background-color: rgba(245, 239, 244,0.8);
    border: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    transition: 1s;
    color: #545452;
}

section .contenu button:hover {
    background-color: rgb(245, 239, 244);
    letter-spacing: 5px;
    transition: 1s;
}

section .contenu button a {
    text-decoration: none;
    color: inherit;
}